@import "bootstrap-sprockets";
@import "bootstrap";

$fair_orange: #ff5a00;
$light_gray: #d6d6d6;

#site_header {
  background: white;
  border-bottom: 3px solid black;
  outline: 1px solid $fair_orange;

  h3 {
    display: inline-block;
    color: $fair_orange;
    a {
      color: $fair_orange;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.container .navbar-header {
  margin: 0;
  float: right;
  display: inline-block;
}
@media (min-width: 768px) {
  #my_nav_bar {
    position: absolute;
    top: 15px;
    right: 0px;

    .menu_element {
      display: inline-block;
      margin: 0px 15px;
    }
  }
}
@media (max-width: 768px) {
  #my_nav_bar {
    position: relative;
    bottom: 5px;
    .menu_element {
      a:hover {
        color: $fair_orange;
        text-decoration: none;
        background-color: white;
      }
    }
  }
  #header_menu {
    display: none;
  }
}
#my_nav_bar {
  .menu_element {
    a {
      font-weight: bold;
      color: $fair_orange;
      text-decoration: none;
    }
  }
  border-color: black;
}
#hamburger_button {
  border-color: $fair_orange;
  background-color: $fair_orange;
  position: relative;
  width: 35px;
  height: 35px;
  margin: 10px;
  padding: 5px;
  &.collapsed {
    background-color: white;  
    .icon-bar {
      background-color: $fair_orange;
    }
  }
}

#page_contents {
  margin-top: 70px;
  margin-bottom: 50px;
}
.page_header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;

  button {
    position: absolute;
    bottom: 5px;
    right: 0px;
  }
}
#index_credit_cards {
  .credit_card_link {
    color: black;
    margin: 5px;
  }
}

#transactions_table {
  width: 100%;
  margin-bottom: 25px;
  td {
    padding: 2px;
    word-break: break-all;
    @media-query (max-width: 768px) {
      font-size: 90%;
    }
  }
}

#close_payment_period_button {
  position: absolute;
  right: 0px;
}
